*{
    box-sizing: border-box;
}

body{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-items: center;
    height: 100vh;
    gap: 10px;
}

h1{
    color: goldenrod;
}

.breakfast{
    width: 250px;
    height: 350px;
    background-color: aqua;
}

img{
    width: 150px;
    height: 200px;
}

p{
    font-weight : 600;
    margin-bottom: 5px;
}

button {
    background-color: white;
    color:black;
    margin-top: 10px;
    border: 1px solid black;
    padding: 10px 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 20px;
}

#error{
    color: red;
    font-weight: 200;
}

.calculator{
    background-color:blanchedalmond;
    padding: 10px 16px;
    width: 250px;
    height: 350px;
}

.game{
    background-color: green;
    width: 250px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.start{
    background-color: goldenrod;
    color: green;
    width: 150px; 
    border: none;
}

.new {
    background-color: goldenrod;
    color: green;
    width: 150px; 
    border: none;
}

