:root{
    --primary:#2c2858;
    --secondary: rgb(144, 114, 169);

} 
*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: var(--primary);
}

header{
    display: flex;
    justify-content: space-between ;
    align-items: center;
    background-color: var(--secondary);
    padding: 16px;
    color: white;
}

input{
    border-radius: 50px;
    padding: 8px 16px;
    background-color: transparent;
    border: 2px solid var(--primary);
    font-size: 16px;
    color: white;
    outline: none;
}

input::placeholder {
    color: white;
    opacity: 0.3;
}


.hidden-search {
    display: none;
}

.show-search {
    display: block;
    margin-left: 1rem;
    font-size: 1.5rem;
}

.empty {
    display: none;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center ;
}

.book{
    width: 300px;
    margin: 16px;
    position: relative;
    overflow: hidden;
    border-radius: 3px;
    background-color: var(--secondary);
}

.book img{
    width: 100%
}

.book-info{
    color:#eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.2rem;
    padding: 8px 16px 16px;
    letter-spacing: 0.5px;
}

.book-info h3{
    margin-top: 0;
}

.book-info span {
    background-color: var(--primary);
    padding: 4px 8px;
    font-weight: bold;
    border-radius: 3px;
}

.book-info span.green{
    color: green;
}

.book-info span.red{
    color: red;
}

.description{
    background-color: #fff;
    padding: 2rem;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    max-height: 100%;
    transform: translateY(101%);
    overflow-y: auto;
    transition: transform 0.3s ease-in;
}

.book:hover .description {
    transform: translateY(0);
}

